* {
    margin: 0;
    padding: 0;
}

.same-box {
    width: 680px;
    height: 510px;
    border: 3px solid rgb(0, 255, 0);
    margin: 20px auto;
    padding: 40px 0;
    background: white;
    text-align: center;
    box-shadow: 12px -12px 25px rgba(5, 99, 128, 0.8);
}

h2 {
    color: red;
    margin-bottom: 30px;
}

img {
    width: 150px;
    height: 300px;
    border: 5px solid white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    margin: 0 auto;
    display: block;
}
