* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.same-box {
    width: 680px;
    height: 510px;
    border: 3px solid rgb(0, 255, 0);
    margin: 20px auto;
    padding: 30px 40px;
    background-image: linear-gradient(to left top, rgb(57, 167, 186), pink, #C9AFF3);
}

.same-box h2 {
    margin-bottom: 20px;
}

img {
    width: 150px;
    height: 300px;
    border: 5px solid white;
}
