* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: center;
    background: #f0f0f0;
}

.same-box {
    width: 680px;
    height: 510px;
    border: 3px solid rgb(0, 255, 0);
    margin: 20px auto;
    padding: 30px 40px;
    background: linear-gradient(to left top, rgb(57, 167, 186), pink, #C9AFF3);
    box-shadow: 12px -12px 25px rgba(5, 99, 128, 0.8);
    text-align: center;
    transition: all 0.5s ease;
}

.same-box:hover {
    background: white;
    padding: 40px 0;
}

h2 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #1a1a1a;
    text-decoration: none;
    transition: all 0.4s ease;
}


.same-box:hover h2 {
    color: red;
    font-size: 26px;
    text-decoration: line-through;
    margin-bottom: 30px;
}


img {
    width: 150px;
    height: 300px;
    border: 5px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: block;
    margin: 0 auto;
    transition: all 0.3s ease;
}
